
@{
    ViewData["Title"] = "About";
}


<div class="container">

    <div class="row align-items-center">
        <div class="col">

        <img style="width: -webkit-fill-available;" src="~/images/doctor.jfif"  alt="" loading="lazy" srcset="" sizes="(max-width: 1200px) 100vw, 1200px">


        </div> 

        <div class="col">
            <h2 class="oleo-script-font-title">About Doctor</h2>
            <p class="sriracha-font">Dr.Daniel is certified by the American Board of Internal Medicine and comes with years of experience in his area of specialty. </p>
            <p class="sriracha-font">He did his residency at Henry Ford Hospital in Detroit.    </p>
            <p class="sriracha-font">He worked as a Senior Staff at Henry Ford, West Bloomfield from 1997 to 2003.  </p>
            <p class="sriracha-font">He has been in private practice since 2003.    </p>

        </div>
    </div>

</div>


