@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="card">
            <div class="card-header oleo-script-font-title text-white">
                Primary Care
            </div>
            <div class="card-body">
                @*<h5 class="card-title">Special title treatment</h5>*@
                <p class="card-text sriracha-font">Primary & Preventive Care</p>
                <p class="card-text sriracha-font">Sports Medicine</p>
                <p class="card-text sriracha-font">Annual Physical</p>
                <p class="card-text sriracha-font">In House Laboratory Testing</p>


                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
        <br>
        <br>

        <div class="card">
            <div class="card-header oleo-script-font-title text-white">
                Appointment Request
            </div>
            <div class="card-body">
                <p class="card-text sriracha-font">
                    We typically have same-day appointment availability.
                    Call 248-363-7109 for scheduling.
                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-header oleo-script-font-title text-white">
                Health Insurance
            </div>
            <div class="card-body">
                <p class="card-text sriracha-font">We accept most public and private insurance plans. We also offer special pricing for cash-paying patients for most procedures.</p>
            </div>
        </div>
    </div>
