
@{
    ViewData["Title"] = "Services";
}

    <div class="container">
        <h1 class="oleo-script-font-title">Services We Offer</h1>
        <ol>
            <li class="sriracha-font">Cardiovascular diseases such as heart diseases, hypertension, high cholesterol, peripheral vascular disease. </li>
            <li class="sriracha-font">Neurological diseases such as Parkinson disease, Stroke, Dementia, restless leg syndrome.</li>
            <li class="sriracha-font">Gastrointestinal diseases such as liver disease, peptic ulcer disease, colitis, rectal bleed.</li>
            <li class="sriracha-font">Endocrine disease such as Diabetes, Thyroid and Pituitary diseases</li>
            <li class="sriracha-font">Dermatology- screening for skin cancer, mole and cyst removal </li>
            <li class="sriracha-font">Urological diseases such as Prostrate problems, Urinary Tract Infection, Over Active Bladder. </li>
            <li class="sriracha-font">Musculoskeletal diseases such as arthritis and fibromyalgia. </li>
            <li class="sriracha-font">Pulmonary function test and chest x-ray.</li>
            <li class="sriracha-font">Ear, Nose and throat problems. </li>
            <li class="sriracha-font">Hematology/ Oncology services.</li>
            <li class="sriracha-font">Comprehensive women services including physicals, pap smear and bone density screening.</li>
            <li class="sriracha-font">In house laboratory.</li>
            <li class="sriracha-font">We also provide medical care at local hospitals.   Our physician is affiliated to Henry Ford Hospital West Bloomfield, Huron Valley, Commerce and St. Joseph Mercy, Pontiac.</li>
        </ol>
    </div>



    